go 1.22.3

use (
	./ArrayInterViewQuestion
	./DataStructure
	./DesignPattern
	./GoErrorGroup
	./GoRoutineDesignPattern
	./Goroutine
	./JWTDemo
	./Leetcode
	./RestAPIDemo
	./UniqueSortedSet
	./basic
	./book
	./commandLine
	./developer-joyofenergy-golang
)
